server {

        include snippets/phpMyAdmin.conf;
    # Log files for Debugging
        access_log /var/log/nginx/{{ domain }}-access.log;
        error_log /var/log/nginx/{{ domain }}-error.log;

    # Webroot Directory for Laravel project
        root "{{ laravel_project_path }}";
        index index.php index.html index.htm;

        # Your Domain Name
        server_name {{ domain }} www.{{ domain }};

        location / {
                try_files $uri $uri/ /index.php?$query_string;
        }

    # PHP-FPM Configuration Nginx
        location ~ \.php$ {
                fastcgi_read_timeout 240;
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}
